.App {
  text-align: center;
  font-size: 1rem;
  padding: 0;
  min-height: auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-wrap: nowrap;
  padding: 5px;
  font-size: calc(2px + 1vmin);
  border-bottom: 1px solid grey;
}

.imgDIv,
.img {
  position: relative;
  display: flex;
  left: 0;
  top: 0;
  max-width: 50%;
  padding: 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-right: 5px solid #ffff00;
}

.img-one {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  min-height: auto;
  padding: 2px;
  background-image: linear-gradient(
    rgba(19, 119, 250, 0.8),
    rgba(238, 231, 231, 0.7)
  );
  margin-top: 30px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.form,
input,
.btn,
ul,
li {
  max-width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

ul,
li {
  flex: 3;
  margin-left: 10px;
  padding: 1px;
  background: transparent;
}

.li {
  display: flex;
  margin: 15px;
  margin-left: 0;
  list-style: none;
  align-items: left;
  justify-content: baseline;
  font-size: 1.2em;
  justify-content: space-between;
  background-color: azure;
  padding: 5px;
}

li:has(span) {
  color: #000;
  justify-content: space-between;
  background-color: azure;
  padding: 9px;
  font-weight: bold;
}

.pre {
  color: red;
  font-weight: 800;
  font-size: 0.8em;
}

.net-income {
  background-color: rgb(200, 240, 230);
}

.netIncome {
  font-size: calc(12px + 1vmin);
  color: rgb(12, 12, 12);
}

.deductions {
  color: red;
  font-size: 16px;
}

h3 {
  font-size: calc(18px + 1vmin);
  color: rgb(3, 3, 3);
}

.tax-name {
  color: #000;
  font-weight: 400;
  font-size: calc(10px, 1vmin);
}

.help-word {
  margin-top: -40px;
  font-size: calc(11px + 1.5vmin);
  color: rgb(10, 10, 10);
}

.input1 {
  width: 70%;
  height: 10px;
  margin: 50px;
  padding: 18px;
  font-size: 12px;
  font-weight: bolder;
  border: none;
  outline-color: rosybrown;
}

.btn {
  width: 10em;
  margin: 16px;
  font-size: 20px;
  color: rgb(10, 10, 10);
  font-weight: bold;
}

.net-income {
  color: green;
  border-bottom: 1px solid;
}

@media screen and (min-width: 40em) {
  #root {
    margin: 0 auto;
  }

  .App {
    text-align: center;
    font-size: 1rem;
    padding: 0px;
  }

  .App-header {
    min-height: 30px;
    width: 60vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 25px;
    font-size: calc(2px + 1vmin);
    box-shadow: 0px 0px 0px 6px grey;
  }

  .imgDIv,
  .img {
    max-width: 100px;
    margin-top: 5px;
    border-radius: 5px;
  }

  .module-form {
    width: 60vw;
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .form {
    display: grid;
    grid-template-columns: 30% 70%;
    width: 100%;
    background-image: linear-gradient(
      rgba(19, 119, 250, 0.8),
      rgba(238, 231, 231, 0.7)
    );
    margin-top: 35px;
  }

  input,
  .btn {
    width: 10%;
  }

  .form,
  .side-img,
  .img-one {
    height: 100%;
  }

  .help-word {
    margin-top: 10px;
    font-size: calc(11px + 1.1vmin);
    color: rgb(10, 10, 10);
  }

  .side-img .img-one {
    margin: 0;
    padding: 0;
    margin-bottom: 0;
    margin-top: -2px;
    margin-left: -5px;
  }

  .img-one {
    width: 100%;
    position: relative;
    display: block;
    border-top-left-radius: 15px;
  }

  input,
  .btn {
    width: 80%;
    margin: 5px;
  }

  .input1 {
    margin: 20px;
    padding: 16px;
  }

  .btn {
    max-width: 21rem;
    margin: 16px;
    font-size: 20px;
    color: rgb(20, 17, 17);
    font-weight: bold;
  }

  .li {
    width: 50vw;
    margin: 0 auto;
    margin-bottom: 8px;
    padding: 5px;
    font-size: 18px;
    background-color: azure;
  }

  ul {
    margin: 50px;
    margin-top: 5px;
  }

  li:has(span) {
    background-color: azure;
    enable-background: accumulate;
  }

  .net-income {
    color: green;
    border-bottom: 2px solid;
  }
}
